* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #f3e9d2; 
  color: #3b2f2f;
}

main {
  max-width: 1000px;
  margin: auto;
  background: #fff8e6;
  padding: 20px;
  border: 2px solid #c9b27c;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 3px solid #b89a5c;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 15px;
  background: #d8c49a;
  border-radius: 6px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .elrendezes {
    text-align: center;
  }

  .elrendezes img {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }
}
