.elrendezes {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.elrendezes img {
  width: 220px;
  flex-shrink: 0;
}

.elrendezes .szoveg {
  flex: 1;
}

/* Mobilbarát törés */

@media (max-width: 700px) {
  .elrendezes {
    flex-direction: column;
  }

  .elrendezes img {
    width: 100%;
  }
}
