body{
    background-color: rgb(233, 210, 180);
    max-width: 1000px;
    margin: auto;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
}

img{
    width: auto;
    max-width: 800px;
}