nav {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

nav {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  color: #d24a4a;
}

nav a:hover {
  background-color: #d24a4a;
}